@model intelectah.MVC.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto" id="login">
        <form asp-action="Login" method="post">
            <h1 class="h3 mb-3 fw-normal">Fazer Login</h1>

            <div class="form-floating">
                <input asp-for="Email" class="form-control" id="floatingInput" placeholder="nome@exemplo.com">
                <label for="floatingInput">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Senha" class="form-control" id="floatingPassword" type="password" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>


            <button class="btn btn-primary w-100 py-2" type="submit">Login</button>

            <a href="/Home/Register" class="btn btn-secondary w-100 mt-2">Registrar-se</a>


        </form>
    </main>
</body>


<link href="~/css/sign-in.css" rel="stylesheet" />

<script src="~/js/color-mode.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/Home/home.js"></script>