@model intelectah.MVC.Models.RegisterViewModel

<link href="~/css/sign-in.css" rel="stylesheet" />

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto" id="register">
        <form id="registerForm" action="/Usuario/Cadastrar" method="post">
            <h1 class="h3 mb-3 fw-normal">Criar Conta</h1>

            <div class="form-floating">
                <select asp-for="NivelAcesso" asp-items="Model.NivelAcessos" class="form-control" id="floatingNivelAcesso">
                    <option value="">Selecione o Nível de Acesso</option>
                </select>
                <label for="floatingNivelAcesso">Nível de Acesso</label>
                <span asp-validation-for="NivelAcesso" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Nome" class="form-control" id="floatingNome" placeholder="Nome">
                <label for="floatingNome">Nome</label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Email" class="form-control" id="floatingEmail" placeholder="nome@exemplo.com">
                <label for="floatingEmail">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="Senha" class="form-control" id="floatingPassword" type="password" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <button id="submitButton" class="btn btn-primary w-100 py-2" type="button" onclick="FctCadastrar(event)">
                Cadastrar
                <span id="spinner" class="spinner-border spinner-border-sm ms-2 d-none" role="status" aria-hidden="true"></span>
            </button>

            <a href="/Home/Index" class="btn btn-secondary w-100 mt-2">Fazer Login</a>
        </form>
    </main>
</body>

<script src="~/js/Usuario/usuario.js"></script>
