@model intelectah.MVC.Models.VendaViewModel


@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

@{
    ViewData["Title"] = "Vendas";
}

@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();

    var isVendasActive = currentController == "Venda" && currentAction == "Vendas";
    var isClientesActive = currentController == "Cliente" && currentAction == "Clientes";
}

<div class="d-flex justify-content-around mb-4">
    <a class="btn btn-outline-primary d-flex align-items-center @(isVendasActive ? "active" : "")" href="@Url.Action("Vendas", "Venda")">
        <i class="bi bi-cart-check me-2"></i> Vendas
    </a>
    <a class="btn btn-outline-secondary d-flex align-items-center @(isClientesActive ? "active" : "")" href="@Url.Action("Clientes", "Cliente")">
        <i class="bi bi-people me-2"></i> Clientes
    </a>
</div>



<div>
    Vendas
</div>

