@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - intelectah.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layoutApp.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Shared/toastUtils.js"></script>
</head>
<body class="d-flex flex-column">

    <header style="width: 100%;">
        <nav class="navbar navbar-light bg-white">
            <div class="container">
                <img src="~/img/logo-intelectah.png" alt="" width="220" height="46">
            </div>
        </nav>
    </header>

    <main role="main" class="flex-grow-1 d-flex align-items-center justify-content-center" >
        <div class="d-flex flex-column p-3 border-end border-light" style="width:280px; height: 100%;">

            <ul class="nav nav-pills d-flex flex-column fs-6 gap-4">
                <li class="nav-item custom-hover">
                    <a href="#" class="nav-link active" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                        Home
                    </a>
                </li>

                <li class="nav-item custom-hover">
                    <a href="#" class="nav-link text-white ">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#Register" /></svg>
                        Fabricantes
                    </a>
                </li>

                <li class="nav-item custom-hover">
                    <a href="#" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table" /></svg>
                        Veiculos
                    </a>
                </li>
                <li class="nav-item custom-hover">
                    <a href="#" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                       Concessionárias
                    </a>
                </li>
                <li class="nav-item custom-hover">
                    <a href="#" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle" /></svg>
                        Vendas
                    </a>
                </li>
            </ul>

            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>@User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="@Url.Action("Logout", "Usuario")">Sair</a></li>
                </ul>
            </div>
        </div>

        <div class="container container-center">
            @RenderBody()
        </div>

    </main>

    <footer id="contato" class="bg-light text-center ">
        <div class="container container-center p-4">
            © 2024 Flaviojcf - Todos os Direitos Reservados
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
