@{
    ViewBag.Title = "Acesso Não Autorizado";
}

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 text-center">
    <h1 class="display-1 text-danger">403</h1>
    <p class="lead text-white">Desculpe, você não tem permissão para acessar esta página.</p>
    <a href="/" class="btn btn-primary btn-lg">Voltar para a página inicial</a>
</div>
